{% extends 'tienda/base.html' %}
{% load static %}

{% block title %} Carrito {% endblock %}

{% block content %}

<div class="table-responsive">
  <table class="table tabla-carro">
    <thead>
      <tr class="text-center">
        <th scope="col">Productos</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tr>
      <td>
        <div class="info-prod">
          <img src="imagenes/cartas/OIP (4).jpg" alt="" class="img-fluid float-start" style="height: 10rem;">
          <div class="datos-producto mx-auto">
            <p>Jabón de Naranja</p>
            <small>Precio: $5000</small> <br>
            <a href="">Borrar</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1"></td>
      <td class="py-5">$5000</td>
    </tr>
    <tr>
      <td>
        <div class="info-prod">
          <img src="imagenes/cartas/OIP (4).jpg" alt="" class="img-fluid float-start" style="height: 10rem;">
          <div class="datos-producto mx-auto">
            <p>Jabón de Naranja</p>
            <small>Precio: $5000</small> <br>
            <a href="">Borrar</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1"></td>
      <td class="py-5">$5000</td>
    </tr>
    <tr>
      <td>
        <div class="info-prod">
          <img src="imagenes/cartas/OIP (4).jpg" alt="" class="img-fluid float-start" style="height: 10rem;">
          <div class="datos-producto mx-auto">
            <p>Jabón de Naranja</p>
            <small>Precio: $5000</small> <br>
            <a href="">Borrar</a>
          </div>
        </div>
      </td>
      <td><input type="number" value="1"></td>
      <td class="py-5">$5000</td>
    </tr>
  </table>
</div>

<div class="total">
  <table class="table">
    <thead>
      <tr>
        <td>Subtotal</td>
        <td>$15000</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>IVA</td>
        <td>$$$</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>$$$</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <a href="checkout.html"><button>Comprar</button></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}