{% extends 'tienda/base.html' %}
{% load static %}

{% block title %} Inicio {% endblock %}

{% block content %}

<div class="container form-pago">
    <div class="row">
        <div class="col-4 order-md-last">
            <h4 class="d-flex justify-content-between align-item-center">
                <span class="text-muted">Tu Carrito</span>
            </h4>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6>Jabón 1</h6>
                        <span class="text-muted">Descripción</span>
                    </div>
                    <span class="text-muted">$5000</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6>Jabón 2</h6>
                        <span class="text-muted">Descripción</span>
                    </div>
                    <span class="text-muted">$5000</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6>Jabón 3</h6>
                        <span class="text-muted">Descripción</span>
                    </div>
                    <span class="text-muted">$5000</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6 class="text-success">Código de Descuento</h6>
                        <span class="text-muted">OFERTA10</span>
                    </div>
                    <span class="text-muted">- $1000</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6 class="text-success">Costo Envío</h6>
                        <span class="text-muted">Código ciudad</span>
                    </div>
                    <span class="text-muted">$$$$$</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6>Total </h6>
                    </div>
                    <span class="text-muted">$14000</span>
                </li>
            </ul>
            <button class="btn btn-light">Comprar</button>
        </div>
        <div class="col-8">
            <h4>Información de Pago</h4>
            <form>
                <div class="row">
                    <div class="col-6">
                        <label class="form-label" for="primerNombre">Primer Nombre</label>
                        <input type="text" id="primerNombre" class="form-control">
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="segundoNombre">Segundo Nombre</label>
                        <input type="text" id="segundoNombre" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="correo">Correo Electrónico</label>
                        <input type="text" id="correoElectronico" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="direccion">Dirección</label>
                        <input type="text" id="direccion" class="form-control">
                    </div>
                    <h4>Pago</h4>
                    <div class="form-check">
                        <input type="radio" class="form-check-input">
                        <label class="form-check-label">Tarjeta de Débito</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input">
                        <label class="form-check-label">Tarjeta de Crédito</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label" for="nombreTarjeta">Nombre en la tarjeta </label>
                            <input type="text" id="nombreTarjeta" class="form-control">
                            <small class="text-muted">Nombre completo como en la tarjeta</small>
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="tarjeta">Número de tarjeta </label>
                            <input type="text" id="tarjeta" class="form-control">
                        </div>
                        <div class="col-3">
                            <label class="form-label" for="vencimiento">Fecha de vencimiento </label>
                            <input type="text" id="vencimiento" class="form-control">
                        </div>
                        <div class="col-3">
                            <label class="form-label" for="cvv">CVV </label>
                            <input type="text" id="cvv" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <h4>Información de Envío</h4>
                        <form action="">
                            <div class="form-row">
                                <div id="aa" class="col">
                                    <select id="dropenv" class="form-select"></select>
                                </div>
                                <button id="btn-cotiza" type="button" class="btn btn-light">COTIZAR ENVIO</button>
                            </div>
                        </form>
                    </div>

                    <div class="container" id="jqr"></div>
                </div>
        </div>
    </div>
    </form>
</div>

<script src="{% static 'tienda/js/api.js' %}"></script>

{% endblock %}
