{% extends 'tienda/base.html' %}
{% load static %}

{% block title %} Inicio {% endblock %}

{% block content %}

<div id="Carrusel" class="carousel slide" style="padding-top: 6rem;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#Carrusel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#Carrusel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#Carrusel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img src="{% static 'tienda/imagenes/carrusel/OIP.jpg' %}" class="d-block w-100 c-img img-fluid" alt="...">
      <div class="carousel-caption">
        <h3>Jabón de Lavanda</h3>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="{% static 'tienda/imagenes/carrusel/jabon-artesanal-avena.jpg' %}" class="d-block w-100 c-img img-fluid"
        alt="...">
      <div class="carousel-caption">
        <h3>Jabón de Avena y Miel</h3>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="{% static 'tienda/imagenes/carrusel/jabon-de-menta.jpg' %}" class="d-block w-100 c-img img-fluid"
        alt="...">
      <div class="carousel-caption">
        <h3>Jabón de Menta</h3>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#Carrusel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#Carrusel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-4 bajo-carrusel">
      <div>
        <h3>HECHOS CON AMOR</h3>
      </div>
    </div>

    <div class="col-md-4 bajo-carrusel">
      <div>
        <h3>HECHOS CON EL ALMA</h3>
      </div>
    </div>

    <div class="col-md-4 bajo-carrusel">
      <div>
        <h3>HECHOS CON CARIÑO</h3>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 ">
  <div class="row ">
    <div class="col-md-12 text-center">
      <h1>JABONES MÁS POPULARES</h1>
      <div class="text-end"><a href="{% url 'productos' %}" class="text-reset" style="padding-right: 5%;">Ver más
          Jabones</a></div>
    </div>
  </div>

  <div class="row mt-5">
    {% for prod in productos %}
    {% if prod.stock > 0 %}
    <div class="col-md-6 col-lg-3">
      <div class="card text-center">
        <img class="card-img-top img-fluid" alt="img1" src="{{ prod.imagen.url }}">
        <div class="card-body">
          <div class="card-heading">
            <h3>{{prod.nombre}}</h3>
          </div>
          <p class="card-text">{{prod.descripcion}}
          </p>
          <p><b>${{prod.precio}}</b></p>
          <p>{{prod.tipo}}</p>
          <a href="{% url 'producto' prod.id %}">
            <button class="btn-carta">Comprar</button>
          </a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
</div>

<div class="container-fluid fondo-curso">
  <div class="container pt-5 pb-5">
    <div class="row inner-text">
      <div class="col-md-6 text-light">
        <h3>CURSOS PARA APRENDER</h3>
        <h1 class="mt-4">JABONES ARTESANALES</h1>
        <a href="cursos.html" class="btn btn-lg text-light mt-3 btn-cursos"> REGISTRATE AHORA </a>
      </div>
    </div>
  </div>
</div>


<section>
  <div class="categorias w-100 text-center">
    <div class="row mb-5">
      <div class="col-4 ">
        <a href="" class="text-reset">
          <div class="card text-bg-dark img-sec">
            <img src="{% static 'tienda/imagenes/cartas/jabon-liquido-logo.jpg' %}" class="card-img-top img-carta"
              alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Jabones Líquidos</h5>
            </div>
        </a>
      </div>
    </div>
    <div class="col-4 ">
      <a href="" class="text-reset">
        <div class="card text-bg-dark img-sec">
          <img src="{% static 'tienda/imagenes/cartas/jabon-artesanal-logo.jpg' %}" class="card-img-top img-carta"
            alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Jabones Artesanales</h5>
          </div>
      </a>
    </div>
  </div>
  <div class="col-4">
    <div class="card text-bg-dark img-sec">
      <a href="" class="text-reset">
        <img src="{% static 'tienda/imagenes/cartas/logo-curso-jabon.jpg' %}" class="card-img-top img-carta" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Cursos para Aprender</h5>
        </div>
      </a>
    </div>
  </div>
  </div>
  </div>

  {% endblock %}