<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <h2>Inicia sesión</h2>

    <div class="row d-flex justify-content-center" style="margin-top: 2rem; margin-bottom: 4rem;">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-evenly">
                            <input type="submit" value="Log in" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>